body {
    text-align: center;
}
.container {
    margin-top: 20px;
}
.welcome {
    font-size: 27px;
}
a {
    color: #333;
}
a:hover {
    text-decoration: none;
}
#receipt {
    text-align: left;
    border-radius: 5px;
    background: #f5f5f5;
    border: 1px solid #d1d1d1;
    width: 80%;
    padding: 0;
    margin: 30px auto 40px;
    box-shadow: 0 0 10px #eee;
    font-size: 24px;
}
#receipt-header {
    padding: 10px 15px 0;
    overflow: hidden;
    display: none;
}
#receipt-header .right {
    float: right;
}
#receipt-header .left {
    float: left;
}
#receipt table {
    width: 100%;
    padding: 15px 18px;
}
#receipt table th {
    font-weight: normal;
    text-transform: uppercase;
    color: #777;
    text-align: left;
    font-size: 14px;
}
#receipt table td.product {
    width: 60%;
}
#receipt table .right {
    text-align: right;
}
#receipt footer {
    padding: 14px 18px;
    border-top: 1px solid #d1d1d1;
    font-size: 24px;
    overflow: hidden;
}
#receipt footer a {
    font-size: 14px;
    vertical-align: text-top;
    text-decoration: none;
}
#receipt footer .waiting-order {
    font-size: 90%;
    font-style: italic;
}
.payment-info {
    color: #777;
    text-align: center;
    border-top: 1px dashed #ccc;
    padding: 10px 0;
    margin: 50px 0 0;
}
.payment-info p {
    margin: 0;
}
.payment-info p.cards {
    margin: 15px 0 10px;
}
.payment-info img {
    width: 200px;
}
