@import url('fontawesome-all.min.css');

body {
    margin-top: 100px!important;
    font-size: 20px!important;
}
a {
    color: #3b8b5f;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.container {
    width: 700px;
    margin: 0 auto;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.bold {
    font-weight: bold;
}
.center {
    text-align: center;
}
.text-large {
    font-size: 120%;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
[v-cloak] {
    display: none;
}

.btn {
    background: #3b8b5f;
    border: none;
    outline: none;
    font-size: 14px;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.btn:disabled {
    opacity: 0.6;
    cursor: initial;
}
.btn:not(:disabled):hover {
    opacity: 0.8;
}
.btn:not(:disabled):active {
    opacity: 1;
    box-shadow: inset 0 0 5px #444;
}
.btn-lg {
    font-size: 24px;
    padding: 18px 24px;
}
#pos-checkout-toolbar {
    font-size: 31px;
    padding: 15px 0;
}
#pos-checkout-toolbar .buttons {
    padding: 14px;
    line-height: 1;
}
#pos-checkout-toolbar button {
    padding: 10px 17px;
    border: 0;
    font-size: 16px;
}