body {
    margin: 0;
    padding: 10px;
    min-width: 200px;
    text-align: center;
    color: #3b8b5f;
    font-size: 14px;
}
h2 {
    margin: 0 0 10px;
}
.btn {
    padding: 15px 0;
    width: 100%;
    margin-bottom: 5px;
}
.btn:hover {
    opacity: 0.8;
}
.btn.btn-black {
    background: #444;
}
