<!DOCTYPE html>
<html>
<head>
    <title>EMU Print Center Attendant</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" href="css/inject.css" />
    <link rel="stylesheet" href="css/interface.css" />
    <link rel="stylesheet" href="css/attendant.css" />
</head>
<body>
    <div id="app">

        <div id="pos-checkout-toolbar" class="center">
            <div class="buttons left">
            </div>
            EMU Print Center: Attendant
            <div class="buttons right" v-cloak>
                <button v-on:click="signOut" v-if="isSignedIn"><i class="fas fa-sign-out-alt"></i> Sign Out</button>
                <button v-on:click="signIn" v-else><i class="fas fa-sign-in-alt"></i> Sign In</button>
            </div>
        </div>

        <div class="container" v-cloak>

            <div v-if="isSignedIn">
                <section class="section current-order">
                    <header>
                        <h2 class="pull-left">Current Order</h2>
                        <div class="pull-right" v-if="currentOrder.items">
                            <div v-if="currentOrder.isPaid">
                                <button class="btn btn-light" v-on:click="printReceipt()">
                                    <i class="fas fa-print"></i> Print Customer Receipt
                                </button>
                                <button class="btn btn-light" v-on:click="clearScreen()">
                                    <i class="fas fa-check-circle"></i> Clear Screen
                                </button>
                            </div>
                            <button v-else-if="!currentOrder.isReadyToPay" class="btn btn-light" v-on:click="readyToPay()">
                                <i class="fas fa-check"></i> Ready to Pay
                            </button>
                            <button v-else class="btn btn-light" v-on:click="editOrder()">
                                <i class="fas fa-edit"></i> Edit Order
                            </button>
                            
                            <button v-if="!currentOrder.isPaid" class="btn btn-red" v-on:click="cancelOrder()">
                                <i class="fas fa-times"></i> Cancel Order
                            </button>
                        </div>
                    </header>

                    <item-table :items="currentOrder.items" :show-total-row="true" 
                                :delete-item="deleteItemCurrentOrder" :show-placeholder="false"
                                :editable="!currentOrder.isReadyToPay && !currentOrder.isPaid"
                                :update-item="updateItemCurrentOrder" id="current-order-items">
                    </item-table>
                    
                    <div v-if="currentOrder.isReadyToPay && !currentOrder.isPaid">
                        Payment Method <i class="fas fa-arrow-right"></i> &nbsp;
                        <button class="btn btn-light" v-on:click="selectPaymentMethod('card')">
                            <i class="far fa-credit-card"></i> Card
                        </button>
                        <button class="btn btn-light" v-on:click="selectPaymentMethod('inter')">
                            <i class="fas fa-exchange-alt"></i> Interdepartmental
                        </button>
                        <button class="btn btn-light" v-on:click="selectPaymentMethod('card+inter')">
                            <i class="far fa-credit-card"></i> Card + <i class="fas fa-exchange-alt"></i> Interdepartmental
                        </button>
                        <!--<p class="payment-instruction">If customer is paying with card, they can click "Pay by Card" on the customer screen. The system will automatically fill in the total and walk through the process on the Emich Payment Site.</p>-->
                    </div>

                    <div v-if="currentOrder.isReadyToPay && currentOrder.isSplitPayment && currentOrder.splitPayment.interdepartmentalAmount > 0" class="payment-box">
                        <u>Split Payment Method</u>
                        <br>
                        Interdepartmental Form: <b>${{ currentOrder.splitPayment.interdepartmentalAmount }}</b>
                        <br>
                        Charge to Card: <b>${{ currentOrder.splitPayment.cardAmount }}</b>
                    </div>

                    <p v-if="currentOrder.isPaid">
                        <i class="fas fa-check-circle"></i> 
                        <span v-if="currentOrder.isCard">Card payment complete.</span>
                        <span v-else>Paid with Interdepartmental Transfer Form.</span>
                    </p>

                    <div v-else-if="currentOrder.isReadyToPay" class="payment-method-options">


                        <div v-if="currentOrder.isSplitPayment && !currentOrder.isCard" class="split-payment payment-box">
                            <form class="styled" v-on:submit.prevent="splitPaymentAmountSubmit">
                                <div class="input-group">
                                    <label>Amount covered by interdepartmental transfer form:</label> <br>
                                    $<input type="number" class="control" name="inter" required min="1" :max="total" step="0.01" 
                                    :value="interdepartmentalAmount" v-on:change="updateInterdepartmentalAmount" v-on:keyup="updateInterdepartmentalAmount" />
                                </div>
                                <div class="input-group">
                                    <label>Amount to charge to card:</label> <br>
                                    $<input type="number" class="control" name="card" required min="1" :max="total" step="0.01" :value="cardAmount" />
                                </div>
                               
                                <button class="btn" type="submit">Submit</button>
                                <br>
                                <small><i>Clicking submit will allow the customer to enter their card info and proceed through checkout like normal.</i></small>
                            </form>
                        </div>
                        <div v-else-if="currentOrder.isInterdepartmental" class="payment-box">
                            <p class="mt-0"><i>Payment via interdepartmental transfer form.</i> Please confirm that the transfer form can cover this amount. Clicking Confirm will <b>finalize</b> this order. </p>
                            <button class="btn btn-orange" v-on:click="interdepartmentalFinalize()">Confirm</button>
                        </div>

                    </div>

                    <item-adder v-else :new-item="newItemCurrentOrder"></item-adder>

                    <p class="payment-instruction" v-if="currentOrder.isCard && !currentOrder.isPaid">Waiting for card payment from customer...</p>

                </section><!-- end .current-order-->

                <section class="section orders">

                    <header>
                        <h2 class="pull-left">
                            Orders
                            <select>
                                <option>All</option>
                                <option>Not Paid</option>
                                <option>Paid</option>
                            </select>
                        </h2>
                        <button class="btn pull-right"><i class="fas fa-plus"></i> Add Email Order</button>
                    </header>
                    
                    <div class="order" v-cloak>
                        <header>
                            <h3 class="pull-left">Order #1</h3>
                            <span class="header-details pull-right">
                                <span class="paid not">Hasn't Paid</span> 
                                <br>
                                <a href="#"><i class="fas fa-dollar-sign"></i> Begin Payment</a>
                            </span>
                        </header>
                        <div class="details">
                            <p class="contact"><i>Contact:</i> John Doe &bull; john@doe.com</p>
                            <p class="notes"><i>Notes:</i> they want this, and that, and that</p>
                            <div class="items">
                                <h4>Items in this order</h4>
                               <item-table :show-total-row="true" :show-placeholder="false"></item-table>
                            </div>
                        </div><!-- end .details-->
                    </div><!-- end .order-->

                </section><!-- end section.orders-->

            </div>
            <div v-else class="sign-in-text">
                <p class="text-large">Sign in to access the print center attendant interface.</p>
                <button class="btn btn-lg" v-on:click="signIn">Sign in with Google</button>
            </div>
        </div>

    </div><!-- end #app-->
    
    <script src="attendant.js"></script>
</body>
</html>
