<!DOCTYPE html>
<html>
<head>
    <title>EMU Print Center Attendant</title>
    <link rel="stylesheet" href="css/inject.css" />
    <link rel="stylesheet" href="css/interface.css" />
    <link rel="stylesheet" href="css/attendant.css" />
</head>
<body>
    <div id="app">

        <div id="pos-checkout-toolbar" class="center">
            <div class="buttons left">
            </div>
            EMU Print Center: Attendant
            <div class="buttons right" v-cloak>
                <button v-on:click="signOut" v-if="isSignedIn">Sign Out</button>
                <button v-on:click="signIn" v-else>Sign In</button>
            </div>
        </div>

        <div class="container" v-cloak>
            <div v-if="!isSignedIn" class="sign-in-text">
                <p class="text-large">Sign in to access the print center attendant interface.</p>
                <button class="btn btn-lg" v-on:click="signIn">Sign in with Google</button>
            </div>
            <div v-else>
                hi
            </div>
        </div>

    </div>

    <script src="js/vue.js"></script>
    <script src="js/attendant.js"></script>
</body>
</html>
