<!DOCTYPE html>
<html>
<head>
    <title>EMU Print Center</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/inject.css" />
    <link rel="stylesheet" href="css/interface.css" />
    <link rel="stylesheet" href="css/customer.css" />
</head>
<body>
    <div id="pos-checkout-toolbar" class="center">
        EMU Print Center
    </div>
    
    <div class="container" id="app">

        <div class="leading-text">
            <p v-if="isOrderComplete">
                <i class="fas fa-check-square"></i>
                Your order is complete.<br>
                Thank you!
            </p>
            <p v-else>Welcome to the Print Center!</p>
        </div>
        <div id="receipt">
            <table>
                <tr>
                    <th class="product">Product</th>
                    <th class="right">Cost</th>
                    <th class="right">Qty</th>
                    <th class="right">Total</th>
                </tr>
                <tr v-cloak v-for="(item,key) in parsedItems" :key="key">
                    <td class="product">{{ item.name }}</td>
                    <td class="right">{{ item.cost }}</td>
                    <td class="right">{{ item.qty }}</td>
                    <td class="right">{{ item.total }}</td>
                </tr>
            </table>
            <footer>
                <span v-if="total">Total: <b v-cloak>${{ total.toFixed(2) }}</b></span>
                <span v-else class="waiting-order">Waiting for order...</span>
            </footer>
        </div>
        <div v-if="isOrderComplete">
            <p>Click below if you want a copy of your receipt.</p>
            <button v-on:click="printReceipt" class="btn btn-lg"><i class="fas fa-print"></i> Print Receipt</button>
        </div>
        <button v-else v-on:click="openPayWindow" :disabled="!isReadyToPay" class="btn btn-lg">Pay with Card <i class="fas fa-arrow-right"></i></button>

        <div class="payment-info">
            <p><b>Important:</b> We can only accept cards and interdepartmental transfer forms.</p>
            <p class="cards"><img src="img/cards.png" /></p>
        </div>
    </div>
    
    <script src="js/vue.js"></script>
    <script src="js/customer.js"></script>
</body>
</html>
