<!DOCTYPE html>
<html>
<head>
    <title>EMU Print Center</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/inject.css" />
    <link rel="stylesheet" href="css/interface.css" />
    <link rel="stylesheet" href="css/customer.css" />
</head>
<body>
    <div id="pos-checkout-toolbar" class="center">
        EMU Print Center
    </div>
    
    <div class="container" id="app">

        <p class="welcome">Welcome to the Print Center!</p>
        <div id="receipt">
            <table>
                <tr>
                    <th>Product</th>
                    <th class="right">Cost</th>
                    <th class="right">Qty</th>
                    <th class="right">Total</th>
                </tr>
                <tr v-for="(item,key) in parsedItems" :key="key">
                    <td class="product">{{ item.name }}</td>
                    <td class="right">{{ item.cost }}</td>
                    <td class="right">{{ item.qty }}</td>
                    <td class="right">{{ item.total }}</td>
                </tr>
            </table>
            <footer>
                <span v-if="total">Total: <b>${{ total.toFixed(2) }}</b></span>
                <span v-else class="waiting-order">Waiting for order...</span>
            </footer>
        </div>
        <button v-on:click="openPayWindow" class="btn btn-lg" :disabled="!isReadyToPay" v-if="!isOrderFinished">Pay with Card →</button>
        <button v-on:click="printReceipt" class="btn btn-lg" v-if="isOrderFinished">Print My Receipt</button>

        <div class="payment-info">
            <p><b>Payment:</b> We accept cards and interdepartmental transfer forms.</p>
            <p><img src="img/cards.png" /></p>
        </div>
    </div>
    
    <script src="js/vue.js"></script>
    <script src="js/customer.js"></script>
</body>
</html>
