.sign-in-text {
    text-align: center;
    color: #333;
    margin-top: 120px;
}
.sign-in-text p {
	margin-bottom: 40px;
}
.container {
	width: 800px;
}
.section > header h3 {
	margin: 0;
}
.clearfix {
	clear: both;
}
.section {
	margin-bottom: 50px;
}
.section > header {
	margin: 10px 0;
	padding: 0 0 10px;
	border-bottom: 1px dashed #ccc;
	overflow: hidden;
}
.section > header .btn {
	margin-left: 3px;
}

.order {
	font-size: 19px;
	margin: 25px 0 0 0;
}
.order .header-details {
	font-size: 75%;
	font-weight: normal;
	text-align: right;
	position: absolute;
	bottom: 10px;
	right: 5px;
}
.order header {
	overflow: hidden;
	height: 40px;
	position: relative;
}
.order header .buttons {
	margin-left: 8px;
}
.order header .paid {
	margin-top: 10px;
}
.order header .paid.not {
	color: #cc0f0f;
	font-weight: bold;
	margin: 0;
}
.order p {
	margin: 0;
	font-size: 90%;
}
.order .details {
	padding: 0 0 0 5px;
}
.order .items {	
	margin: 5px 0 0;
}
.order table {
	background: #f7f7f7;
	padding: 10px;
}

.item-table-container {
	width: 500px;
    margin: 0 0 15px;
}
.item-table-container .item-total {
	padding-top: 10px;
	font-size: 115%;
}
table.item-table th {
	text-align: left;
	font-size: 14px;
	font-weight: normal;
	color: #555;
}
table.item-table td {
	padding: 7px 0 0;
}
table.item-table .right {
	text-align: right;
	width: 80px;
}
table.item-table .product {
	width: 55%;
}
table.item-table input.qty {
	width: 40px;
	font-size: 16px;
	padding: 3px;
}
table.item-table .delete {
	color: #555;
	cursor: pointer;
}

.payment-box {
	margin-top: 15px;
	padding: 15px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 17px;
}
.payment-box p {
	font-size: inherit;
}
form.styled input.control {
	padding: 7px 12px;
	font-size: 1em;
	width: 110px;
}
.split-payment form.styled input.control {
	width: 100px!important;
	margin: 7px 0 0 8px;
}

.item-adder .buttons {
	margin-top: 10px;
}
.item-adder .btn {
	margin-right: 5px;
}
.item-adder .v-select {
    margin-bottom: 10px;
    width: 498px;
}
.item-adder select.preset-size {
	margin-left: 10px;
	width: 190px;
}
.v-select .active a,
.v-select.dropdown .highlight a,
.v-select.dropdown li:hover a {
    background: #3b8b5f!important;
    color: #fff!important;
}
.item-adder .v-select-input-proxy {
	position: absolute;
	width: calc(100% - 1px); 
	height: calc(100% - 1px);
	border: none;
	border-radius: 5px;
	background: none;
	left: 0%; bottom: 0;
	z-index: -1;
	opacity: 0;
}
.payment-instruction {
	font-size: 16px;
	font-style: italic;
	margin: 10px 0;
}
