body {
    margin: 0!important;
    padding: 10px;
    min-width: 300px;
    text-align: center;
    color: #3b8b5f;
    font-size: 14px;
}
h2 {
    margin: 0 0 10px;
}
.btn {
    padding: 20px 0;
    width: 100%;
    margin-bottom: 10px;
    font-size: 17px;
}
.btn:hover {
    opacity: 0.8;
}
.btn.btn-black {
    background: #444;
    border-color: #444;
}
